* {
    box-sizing: border-box;
}

body {
    background: lightskyblue; 
}

header {
    background: red;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
 margin: 30px;
}

.main-section {
    display: grid;
    grid-template-columns: 200px 1200px;
    /* justify-content: space-around; */
}

.search-section {
    width: 300px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-content: center;
    /* justify-content: flex-start; */
    /* position: fixed;
    left: 30px;
    top: 115px; */

}

.search-section h3 {
    position: relative;
    left: 45px;
}

input{
    margin: 20px;
}

button {
    margin-left: 20px;
    width: 165px;

}

select {
    margin: 20px;
    width: 165px;
}


img {
    width: 160px;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    text-align: center;
    width: 90%;
    

}

li {
    margin: 30px;
    width: 200px;
    font-family: monospace;
    font-size: 10px;
    border: 1px solid red;
    padding: 10px 10px;
    border-radius: 20px;
    box-shadow: 1px 2px 10px 3px red;
    background: lawngreen;
}

.nav-link {
    font-size: 30px;
    margin-right: 50px;
    border: 1px solid black;
    padding: 5px 15px;
    background: orange;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s;
    text-decoration: none;
    font-weight: bold;
    box-shadow: -1px 1px 10px 2px;
}

.nav-link:hover {
    background: lawngreen;
}

.list-link {
    text-decoration: none;
}